---
layout: default
title: Home
---
<div class="article-box">
    {% if post.img %}
      <a class="post-thumbnail" style="background-image: url({{ '/assets' | prepend: site.baseurl | append: post.img }})" href="{{ post.url | prepend: site.baseurl }}"></a>
    {% endif %}
    <ul>
      {% for post in site.categories.news %}
      <li>
        <p>{{ post.date | date: '%B %d, %Y' }}</p>
        <a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
      </li>
      {% endfor %}
    </ul>
  </div>
